<!DOCTYPE html>
<html>
<body>

<p>Click on the "Choose File" button to upload a car damage image or video:</p>

<div>
  <h1>Car Damage Detection</h1>
<!--  <form action="/action_page.php">-->
<!--    <input type="file" id="myFile" name="filename">-->
<!--    <button type="button" onclick="show()" id="btnID">Submit</button>-->
<!--  </form>-->

  <form class="p-3 text-center" action='/detection' method="post" enctype="multipart/form-data" target="marked_image">
    <input class="form-control" type="file" name="imagefile">
    <input class="btn btn-primary mt-3" type="submit" value="ShowDamage" onclick="parent.open('static/result.png')">
  </form>
  <!--  <img name="marked_image" onsubmit="show()" style="visibility:hidden" src="{{ result }}"/>-->

  <!-- Add id to image -->
<!--  <img id="marked_image" style="visibility:hidden" src="{{ result }}"/>-->
</div>

<script>
  function show() {

    /* Access image by id and change
    the display property to block*/
    setTimeout(function(){
      console.log("Sending the image to the backend.");
    },5000);
    document.getElementById('marked_image').style.visibility="visible";
  }
</script>

</body>
</html>